<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <title>Új ingatlan</title>
</head>
<body>
    <div class="w-50 mx-auto text-center">
        <h3>Új ingatlan hozzáadása</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Feltöltés">
        </form>
    </div>
</body>
</html>